@import url('https://fonts.googleapis.com/css2?family=Text+Me+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

.business-card {
  display: flex;
  flex-wrap: wrap;
  margin: 25vh auto;
  justify-content: space-around;
  align-items: center;
  max-width: 100rem;
}
.hexagon {
  background-color: #0a1929;
  border-radius: 10px;
  width: 20rem;
  height: 11.8rem;
  box-sizing: border-box;
  transition: all 1s;
  border: 0.4vh solid transparent;
  z-index: 1;
  display: flex;
  align-items: center;
  align-content: space-between;
  flex-direction: column;
  justify-content: center;
  margin: 4rem 3rem;
}

.hexagon:before,
.hexagon:after {
  content: '';
  border: inherit;
  position: absolute;
  top: -0.5vh;
  left: -0.5vh;
  background-color: #0a1929;
  border-radius: inherit;
  height: 100%;
  width: 100%;
  z-index: 0;
}
.hexagon:before {
  transform: rotate(60deg);
}
.hexagon:after {
  transform: rotate(-60deg);
}

.logo-text {
  color: #e5eaee;
  position: relative;
  z-index: 2;
  font-weight: 500;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 2rem;
  font-family: 'Text Me One', sans-serif;
  text-transform: uppercase;
}
.code-img {
  font-family: 'Nanum Gothic', sans-serif;
}

.info {
  color: #e5eaee;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin: 0 3rem;
}
.info-title {
  margin-bottom: 2rem;
}
.info-items {
  display: flex;
  flex-direction: column;
  max-width: 30rem;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: none;
  color: #d9d9d9;
}

@media (max-width: 1100px) {
  .business-card {
    display: flex;
    flex-direction: column;
    margin: 15vh auto 0;
    justify-content: space-around;
    align-items: center;
    max-width: 100rem;
  }
  .info {
    margin: 10rem;
    max-width: 15rem;
  }
  .hexagon {
    width: 15rem;
    height: 9rem;
    margin: 0 10rem;
  }
  .logo-text {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
    font-family: 'Text Me One', sans-serif;
    text-transform: uppercase;
  }
  .code-img {
    font-family: 'Nanum Gothic', sans-serif;
  }
}
@media (max-width: 500px) {
  .info {
    margin: 5rem;
    max-width: 15rem;
  }
  .hexagon {
    width: 15rem;
    height: 9rem;
    margin: 0 auto;
  }
  .logo-text {
    font-size: 2rem;
    margin-bottom: 2rem;
    font-family: 'Text Me One', sans-serif;
    text-transform: uppercase;
  }
  .code-img {
    font-family: 'Nanum Gothic', sans-serif;
  }
}
@media (max-width: 400px) {
  .info {
    margin: 5rem;
    max-width: 15rem;
    margin: 7rem 0 5rem 3rem;
  }
  .hexagon {
    width: 15rem;
    height: 9rem;
    margin: 0 0 0 3rem;
  }
  .logo-text {
    font-size: 2rem;
    margin-bottom: 2rem;
    font-family: 'Text Me One', sans-serif;
    text-transform: uppercase;
  }
  .code-img {
    font-family: 'Nanum Gothic', sans-serif;
  }
}
