@import url('https://fonts.googleapis.com/css2?family=Text+Me+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

.business-card {
  display: flex;
  flex-wrap: wrap;
  margin: 30vh auto;
  justify-content: space-around;
  max-width: 100rem;
}
.hexagon {
  margin: 0 auto;
  background-color: White;
  border-radius: 10px;
  width: 20rem;
  height: 11.8rem;
  box-sizing: border-box;
  transition: all 1s;
  border: 0.4vh solid transparent;
  z-index: 1;
  display: flex;
  align-items: center;
  align-content: space-between;
  flex-direction: column;
  justify-content: center;
  margin: 4rem 3rem;
}

.hexagon:before,
.hexagon:after {
  content: '';
  border: inherit;
  position: absolute;
  top: -0.5vh;
  left: -0.5vh;
  background-color: White;
  border-radius: inherit;
  height: 100%;
  width: 100%;
  z-index: 0;
}
.hexagon:before {
  transform: rotate(60deg);
}
.hexagon:after {
  transform: rotate(-60deg);
}

.logo-text {
  color: #e7663b;
  position: relative;
  z-index: 2;
  font-weight: 500;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 2rem;
  font-family: 'Text Me One', sans-serif;
  text-transform: uppercase;
}
.code-img {
  font-family: 'Nanum Gothic', sans-serif;
}

.info {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin: 0 3rem;
}
.info-title {
  margin-bottom: 2rem;
}
.info-items {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.info-headline {
  text-decoration: underline;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: none;
  color: #d9d9d9;
}
select {
  border: none;
  background-color: #e7663b;
  color: white;
  font-size: 1rem;
  padding: 0;
}
select:hover {
  border: 1px solid white;
}

@media (max-width: 736px) {
  .info {
    margin: 10rem 3rem;
  }
  .hexagon {
    margin: 0 3rem;
  }
}
@media (max-width: 500px) {
  .info {
    margin: 10rem auto;
  }
  .hexagon {
    margin: 0 auto;
  }
}
