@import url('https://fonts.googleapis.com/css2?family=Text+Me+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

.header {
  background-color: white;
  height: 3rem;
  box-shadow: rgba(0, 0, 0, 0.15) 2px 3px 2.6px;
  display: flex;
  align-items: center;
  padding: 0 2rem;
}

.header__title {
  font-family: 'Text Me One', sans-serif;
  text-transform: uppercase;
  color: #fd7a20;
}
.header__title-logo {
  font-family: 'Nanum Gothic', sans-serif;
}
