@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

.sidenav {
  position: absolute;
  top: 0;
  width: 250px;
  transition: width 0.3s ease-in-out;
  min-height: 100vh;
  background-color: #0a1929;
  padding-top: 28px;
  font-family: 'Roboto', sans-serif;
}

.sidenavClosed {
  position: absolute;
  top: 0;
  width: 250px;
  transition: width 0.3s ease-in-out;
  min-height: 100vh;
  height: 100%;
  background-color: #0a1929;
  padding-top: 28px;
  transition: width 0.3s ease-in-out;
  width: 60px;
}

.sideitem {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  cursor: pointer;
  color: #b2bac2;
  text-decoration: none;
}

.linkText {
  padding-left: 16px;
}

.linkTextClosed {
  padding-left: 16px;
  visibility: hidden;
}

.sideitem:hover {
  background-color: #244f7d1c;
}

.menuBtn {
  align-self: center;
  align-self: flex-start;
  justify-self: flex-end;
  color: #b2bac2;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding-left: 20px;
}

select {
  border: none;
  background-color: transparent;
  color: #b2bac2;
  font-size: 1rem;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
